<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StepUp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6316D37C1D42932A00BEC471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6316D3951D42932A00BEC471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6316D3A01D42932A00BEC471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
